@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --footer: #525252;
    --color-black: #000000;
    --color-white: #ffffff;
    --font-raleway: Railway, sans-serif;
    --font-roboto: Robot, arial, tahoma;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css By Monish */
ul{
    display: flex;
    justify-content: space-evenly;
    width: 68%;
    margin: 0 auto;
    margin-top: 8px; 
}

li{
    list-style: none;
    margin: 0 0 5px 5px ;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    font-style: normal;
    font-family: var(--font-raleway) ;
}

.fasion1>p{

    background-color: #000000;
    width: 100%;
    height: 28px;
    text-align: center;
    color: var(--color-white);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    


}
.fasion2{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding-bottom:10px;
}


.fasion3{
    display: flex;
    align-items: center;
    width: 100%;
}


.fasion3>p{
    
    font-family: var(--font-roboto);
    font-weight: 400;
    line-height: 22px;
    font-size: 13px;
    font-style: normal;
    position: relative;
    bottom: 20px;
    margin-left: 10px;

}

.fasion3>select{
    margin-right: 100px;
    position: relative;
    bottom: 20px;
    
}

.fasion3>img{
    position: relative;
    left: 25%;
    width: 357px;
}


.fasion4{
    line-height: 13px;
    width: 1px;
    font-size: small;
}
.search-bar{
    margin-left: 476px;
    display: flex;
    height: 27px;
    border: 1px solid #717171;
    position: relative;
    bottom: 10px;
    width: 218px;
    border-radius: 2px;
    font-family: var(--font-roboto);
    left: 22px;
}

.search-bar > input{
    border: none;
    margin-left: 5px;
}

.search-bar>i{
    font-size: 13px;
    margin: auto 5px;
    position: relative;
    left: 25px;
    bottom: 3px;
}

.icons i{
    position: relative;
    left: 150px;
    margin: 0 10px;
    bottom: 13px;
    font-size: 14px;    
}

.banner1>img , .banner2>img{
    width: 100%;
}
/* Creating the Hover Effect */
.new-in, .designers{
    background-color: #ffffff;
    font-family: var(--font-raleway);
    padding: 30px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    align-items: center;
    top: 90%;
    display: none;

}

 
.new-in > .shop-by{
    position: relative;
    bottom: 130px;
}
.new-in > .shop-by > li > h3, .editors-pics > p{
    font-weight: 400;
    font-size: 14px;
}

.new-in > ul{
    display: flex;
    flex-direction: column;
}
.navbar{
    cursor: pointer;
}

.new-in > ul li, .editor-img > div > p{
    font-family: var(--font-raleway);
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}
.editors-pics{
    text-align: center;
}
.editors-pics > .editor-img{
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}
.editor-img img{
    width: 260px;
    height: auto;
    margin-bottom: 5px;
}


/* Css By Mohan */
.shop-by-style{
    position: relative;
}

.banner6{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.banner6 > .banner6-part, .banner7{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner6 > .banner6-part  img, .banner7 img:nth-child(2){
    width: 32.5%;
    margin: 5px;
}
.banner7 > img{
    width: 65.5%;
    margin: 5px;
}   
.banner8, .banner9, .banner10{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner8 img{
    width: 19.3%;
    height: auto;
    margin: 5px;
}

.banner9 img:nth-child(2), .banner10 img:nth-child(2) {
    width: 49.5%;
    margin: 5px;
}
.banner9 img:nth-child(odd), .banner10 img:nth-child(odd) {
    width: 24%;
    margin: 5px;
}


