@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --footer: #525252;
    --color-black: #000000;
    --color-white: #ffffff;
    --font-raleway: Railway, sans-serif;
    --font-roboto: Robot, arial, tahoma;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-raleway);
}

.banner3 {
    display: flex;
    flex-direction: row;
    width: 100%;

    background-color: #f8f8f8;
}
.banner3 > .cta-banner {
    width: 311.48px;
    height: 471.58px;
    font-size: 36px;
    color: #333;
    margin: 0;
}

.SHOP HERE {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}
.banner1 {
    margin-bottom: 17px;
}
.custom-discover img{
    width: 100%;
}
.banner3 {
    display: flex;
}
.banner3 img{
    width: 16.2%;
    margin-right: 10px;
    margin-bottom: 27px;
}
.banner3 > .cta-banner > img{
    width: 320.52px;
    height: 474px;
    margin-right: 0px;
}
.banner4{
    display: flex;
    justify-content: center;
    gap: 10px;

    
}
.banner4 img{
    width: 32.5%;
}
.custom-line1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.custom-line1::before,
.custom-line1::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
    margin: 1 20px;
}

.custom-line1 img {
    display: block;
    max-width: 147px;
    height: 21.22px;
    margin-left: 18px;
    margin-right: 18px;
}

.banner5{
    display: flex;
    gap: 10px;
    justify-content: center;

}
.banner5 img{
    width: 16%;
}
.custom-line2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.custom-line2::before,
.custom-line2::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
    margin: 1 20px;
}

.custom-line2 img {
    display: block;
    max-width: 219px;
    height: 30.27px;
    margin-left: 18px;
    margin-right: 18px;
}

.banner7 {
    margin-bottom: 24px;
}

.accessory-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: 18px;
}
.accessory-edit::before,
.accessory-edit::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
    margin: 1 20px;
}
.accessory-edit img{
    display: block;
    max-width: 240px;
    height: 30.06px;
    margin-right: 18px;
    margin-left: 18px;
}

.banner8 {
    margin-bottom: 20px;
}

.banner9 {
    margin-bottom: 24px;
}

.earth-friendly {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: 18px;
}

.earth-friendly::before,
.earth-friendly::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
    margin: 1 20px;
}
.earth-friendly img {
    display: block;
    max-width: 356px;
    height: 30.38px;
    margin-right: 18px;
    margin-left: 18px;
}

.banner11 {
    display: flex;
    gap: 10px;
    flex-direction: row;
    overflow: hidden;
    padding: 0 10px ;
}
.banner11 img{
    width: 13.72%;
   
}

.banner10 {
    margin-bottom: 18px;
}

.banner12 > img{
    width:56.4%;
    height: auto;
}
.banner12{
    display: flex;
    align-items: center;
    padding-left:10px;
    margin-top: 10px;
}
.square-div{
    display: flex;
}
.square-div img{
    width: 347px;
    height: 360px;
}

.custom-line
body {
    font-family: "Roboto", arial, tahoma;
    font-weight: normal;
    font-size: small;
}
.footer-content{
    font-size: 13px;
    margin: 10px;
}

.footer-content h2, .footer-content h1{
    margin: 10px 0;
    color: #525252;
    font-size: 15px;
    font-weight: 700;

}
.footer-content p{
    margin: 10px 0;
}

.Link{
    color: black;
    font-weight: 900;
    
}

.Link:hover{
    font-weight: 500;
}



/* Css By Monish */
.desktop > .banner{
    height: 28px;
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner > p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;


}
.desktop-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 2;
}
.navbar-top{
    position: sticky;
    top: 0;
}
.cutter{
    z-index: -1;
    margin: 10px 0;
}
.desktop { 
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;

}
.banner1{
    margin-top: 145px;
}
.desktop-navbar > .inr{
    display: flex;
    gap: 10px;
}
.navbar-right{
display: flex;
align-items: center;
gap: 180px;
}
.navbar-right > .icons{

    display: flex;
    gap: 15px;
}
.navbar-right > .icons i{
    font-size: 14px;
}

.navbar-right > img{
    width: 405px;
}

/* Footer */

.footer-main{
    display: flex;
    width: 80%;
    gap: 150px;
    margin: 0 auto;
    padding: 40px 0 26px 160px;


}
.footer{
    color: #ffffff;
    background-color: #222;
}
.footer-main h1, .footer-main li{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-roboto);

}
.footer-main h1{
    margin: 10px 0;
}
.stay{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-family: var(--font-roboto);
    font-weight: 400;
    padding-bottom: 10px;
    margin: 30px 0;
    border-bottom: 5px solid #000;
}
.stay > input{
    width: 584px;
    text-align: center;
    border:none ;
    border-bottom: 1px solid #000;
    padding: 10px;
    font-size: 14px;
}
.stay > input:focus{

    outline: none;
}
.stay > button{
    padding: 9px 28px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 13px;
}
.footer-main li{
    font-size: 13px;
    list-style: none;
    margin: 5px 0;
}
.footer-bottom{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222222a6;
    padding: 15px 260px 15px 250px;
    font-size: 13px;
    font-weight: 400;

}
.footer-bottom > .icons{
    display: flex;
    gap: 25px;
}
.search-box{
    border-radius:3px;
    border: 1px solid rgba(131, 131, 131, 0.751);
    width: 193px;
    display: flex;
    justify-content: space-between;
    height: 27px;
    padding: 0 5px;

}
.search-box > input{
    width: 218px;
    border: none;
    outline: none;
    font-family: var(--font-roboto);
    font-size: 13px;
}
.search-box > i{
    display: block;
    margin: auto 0;
    margin-left: 5px;
}
.navbar > ul{
    display: flex;
    justify-content: center;
    gap: 28px;
    width: 70%;
    margin: 0 auto;
    padding: 7px 14px 15px 14px ;

}
.navbar > ul li{
    list-style: none;
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 13px;

}
.banner1>img , .banner2>img{
    width: 100%;
}
/* Creating the Hover Effect */
.new-in, .designers, .jewelry{
    background-color: #ffffff;
    font-family: var(--font-raleway);
    padding: 30px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    align-items: center;
    top: 90%;
    display: none;
    
}
.designers2{
    height: 100px;
}

.jewelry{
    /* display: flex; */
    justify-content: space-between;
    font-size: 14px;
    font-family: var(--font-raleway);
    
}
.jewelry > .shop-by > ul,.jewelry > .essential > ul,.jewelry > .lovers > ul {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
}
.jewelry > .shop-by > ul > p,.jewelry > .essential > ul > p,.jewelry > .lovers > ul > p {
    font-weight: 400;
    width: 345px;
}
.essential, .lovers{    
    margin-left: 250px;
}
.jewelry > .shop-by > ul li,.jewelry > .essential > ul li,.jewelry > .lovers > ul li {
    margin: 0;
    width: 345px;

    font-weight: 300;
}

.jewelry > .img, .jewelry > .img > img {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 42.5%;

}
.jewelry > .img > p{
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin-right: 80px;
    margin-top: 10px;

}
.designers{

    height: 500px;
    font-family: var(--font-raleway);
}

.designers1{
    font-family: var(--font-raleway);
}
.designers >ul, .designers1>ul{
    position: relative;
    right: 200px;
    display: flex;
    flex-direction: column;  
    margin-top: 20px;  
}
.designers>ul li, .designers1>ul li{
    font-size: 14px;
    font-weight: 300;
}

.designers1>ul{
    bottom: 333px;
    left: 125px;
    margin-top: 0;
    right: 0;    
}


.designers2>p{
    position: relative;
    left: 339px;
    bottom: 360px;
    font-size: 14px;
    font-weight: 500px;
}

.designers2>ul, .designers3>ul{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 200px;
    bottom: 352px;
    
}
.designers3 > ul{
    height: 500px;
}

.designers3>ul{
    left: 200px;
    bottom: 307px;
}

.designers3>p{
    position: relative;
    left: 338px;
    bottom: 315px;
    
}

.designers3>ul>img{
    position: relative;
    left: 309px;
    width: 230px;
    bottom: 370px;
    
    
}

.designers3>ul>p{
    position: relative;
    bottom: 369px;
    left: 350px;
    
}





.new-in > .shop-by{
    position: relative;
    bottom: 130px;
}
.new-in > .shop-by > li > h3, .editors-pics > p{
    font-weight: 400;
    font-size: 14px;
}

.new-in > ul{
    display: flex;
    flex-direction: column;
}
.navbar{
    cursor: pointer;
}
.navbar  > ul{
    display: flex;
}
.navbar, .fasion3{
    display: block;
}
.mobile{
    display: none;
}


.new-in > ul li, .editor-img > div > p{
    font-family: var(--font-raleway);
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}
.editors-pics{
    text-align: center;
}
.editors-pics > .editor-img{
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}
.editor-img img{
    width: 260px;
    height: auto;
    margin-bottom: 5px;
}


/* Css By Mohan */
.shop-by-style{
    position: relative;
}

.banner6{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.banner6 > .banner6-part, .banner7{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner6 > .banner6-part  img, .banner7 img:nth-child(2){
    width: 32.5%;
    margin: 5px;
}
.banner7 > img{
    width: 65.5%;
    margin: 5px;
}   
.banner8, .banner9, .banner10{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner8 img{
    width: 19.3%;
    height: auto;
    margin: 5px;
}

.banner9 img:nth-child(2), .banner10 img:nth-child(2) {
    width: 49.5%;
    margin: 5px;
}
.banner9 img:nth-child(odd), .banner10 img:nth-child(odd) {
    width: 24%;
    margin: 5px;
}








/* Responsive Section */

@media only screen and  (max-width:400px) {

    .fasion1 > p{
        font-size: 10px;
        

    }
    .fasion1, .fasion2, .banner1, .banner2, .banner6, .banner7{

        width: 103%;
    }
    .navbar, .fasion3{
        display: none;
        width: 100%;
    }
    div.fasion3{
        display: none;

    }
    .mobile{
        margin: 0;
    }
    .mobile-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid black;
        /* box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.384); */

    }
    .mobile-navbar > .sign-in, .mobile-navbar > .whishlist, .mobile-navbar > .inr, .mobile-navbar > .search{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 10px 12px;
        text-align: center;
        height: 100%;
        border-left: 1px solid black;
    }
    .mobile-mainbar{
        display: flex;
        background-color: #fff;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        padding-top: 10px;

    }
    .mobile-mainbar > img{
        width: 185px;
    }
    .mobile-mainbar i{
        font-size: 16px;
    }
    .mobile{
        display: block;
        width: 100%;
    }
    .desktop{
        display: none;
    }
    

}
